.btn-i {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 1rem;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    border: 0;
    height: 89px;
    width: 76px;
}

.btn-i:hover {
    cursor: pointer;
    opacity: 0.5;
}

.btn-i img {
    width: 50%;
    height: 50%;
}