.btn-i {
    text-decoration: none;
    color: white;
    padding: .5rem .8rem;
    margin: 1rem;
    background-size: cover;
    border: 0;
    background-color: inherit;
}

.btn-i:hover {
    cursor: pointer;
    opacity: 0.5;
}